# Day 3

* Data Types
    * Numbers
    * Strings
    * Variable Assignment
    * Printing
    * Strings methods
    * Lists
    * Dictionaries
    * Boolians
    * Tuples
    * Sets
* Basic Operations
    * Comparison
    * if, elif, else statements
    * for loops
    * while loops
    * range()
    * linspace()
    * list comprehension
    * functions
    * lambda epressions
    * map & filter

## Numbers

In [1]:
1+3

4

In [2]:
(1+5)*(5-2)

18

In [3]:
3**2

9

This $\%$ will return the remainder of the operation

In [4]:
13%3

1

In [5]:
15//4

3

In [6]:
# This will return an integer as the quotient
3//2

1

In [7]:
type(2.17327489)

float

In [8]:
type(-3.4)

float

In [9]:
type((2)**0.5)

float

In [10]:
type((16)**0.5)

float

In [11]:
# Strings are sequences of alpha character data.
print('I am a string and I am in a single quotation')

I am a string and I am in a single quotation

In [12]:
type('I am a string and I am in a single quotation')

str

In [13]:
print("I am a string and I am in double quotation")

I am a string and I am in double quotation

In [14]:
type("I am a string and I am in double quotation")

str

In [15]:
type(" ")

str

# Variable Assignment

In [17]:
name = 'Moussa'

In [16]:
123_var = 10

SyntaxError: invalid decimal literal (739953904.py, line 1)

In [18]:
var_123 =4

In [28]:
x = 1
y  = 2
z = x+ y

In [29]:
z

3

In [25]:
x = "Moussa"

In [26]:
x

'Moussa'

In [27]:
print(x)

Moussa

In [30]:
name = 'Madison'

In [31]:
print('Hello',name,"welcome to REU")

Hello Madison welcome to REU

In [32]:
print('Hello '+ name+" welcome to REU")

Hello Madison welcome to REU

In [33]:
first_name = 'Madison'
last_name = 'Norwood'

In [34]:
print('Hello HU! My first name is {one} and my last name is {two}'.format(two=last_name,one=first_name))

Hello HU! My first name is: Madison and my last name is Norwood

In [36]:
print('Hello HU! My first name is {} and my last name is {}'.format(first_name,last_name ))

Hello HU! My first name is Madison and my last name is Norwood

In [37]:
print('Hello HU! My first name is {} and my last name is {}'.format(last_name, first_name))

Hello HU! My first name is Norwood and my last name is Madison